form{
    text-align: center;
    margin: 0px 500px 0px 500px;
    background-color: darkturquoise;
}
input[type=submit]
{
    background-color:ivory;
}
input[type=submit]:hover
{
    background-color:crimson;
}